body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e6edd8; /* similar al fondo pergamino */
}

.timeline {
  position: relative;
  width: 80%;
  margin: 100px auto;
  padding: 100px 0;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: #5a5a3a;
  transform: translateX(-50%);
}

.event {
  position: relative;
  width: 45%;
  margin: 80px 0;
}

.event.left {
  left: 0;
  text-align: right;
}

.event.right {
  left: 55%;
}

.arrow {
  font-size: 24px;
  color: #5a5a3a;
  vertical-align: middle;
}

.content {
  display: inline-block;
  background: transparent;
  padding: 10px 15px;
}

h4 {
  margin: 0;
  font-size: 16px;
  color: #3e3e2a;
}

p {
  margin: 5px 0 0;
  font-size: 14px;
}

